<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>467780157083-gvl9vq1594p1qch45q4infhci9mbttvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467780157083-gvl9vq1594p1qch45q4infhci9mbttvn</string>
	<key>API_KEY</key>
	<string>AIzaSyA__Zi6Nw5sl2D2nB_aJIeI8l2kUvnmqYg</string>
	<key>GCM_SENDER_ID</key>
	<string>467780157083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fcm.simplefcmclient</string>
	<key>PROJECT_ID</key>
	<string>drive-beehively-162407</string>
	<key>STORAGE_BUCKET</key>
	<string>drive-beehively-162407.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:467780157083:ios:b71c73a2fedb7a5a</string>
	<key>DATABASE_URL</key>
	<string>https://drive-beehively-162407.firebaseio.com</string>
</dict>
</plist>